In [1]:
import numpy as np
import pandas as pd 
import numpy.random as rn
from tqdm import tqdm_notebook as tqdm

from scipy import optimize       # to compare

/home/alice/Documents/ramax_vacation/venv/lib/python3.7/site-packages/pandas/compat/__init__.py:97: UserWarning: Could not import the lzma module. Your installed Python is incomplete. Attempting to use lzma compression will result in a RuntimeError.
  warnings.warn(msg)

In [2]:
import pickle 

with open('possible_vacation.pickle', 'rb') as f:
    possible_vacation = pickle.load(f)

with open('req_work.pickle', 'rb') as f:
    req_work = pickle.load(f)
    
with open('excel_dict.pickle', 'rb') as f:
    excel_dict = pickle.load(f)

with open('qs.pickle', 'rb') as f:
    qs = pickle.load(f)

In [184]:
def annealing(random_start,
              cost_function,
              random_neighbour,
              acceptance,
              temperature,
              args,
              maxsteps=1000,
              debug=True
             ):
    state = random_start(*args)
    cost = cost_function(state, args[1])
    states, costs = [state], [cost]
    for step in range(maxsteps):
        fraction = step / float(maxsteps)
        T = temperature(fraction)
        new_state = random_neighbour(*args)  # fraction
        new_cost = cost_function(new_state, args[1])
#         if debug: print("Step #{:>2}/{:>2} : T = {:>4.3g}, state = {:>4.3g}, cost = {:>4.3g}, new_state = {:>4.3g}, new_cost = {:>4.3g} ...".format(step, maxsteps, T, state, cost, new_state, new_cost))
        if debug: print("Step #{:>2}/{:>2} : T = {:>4.3g} cost = {} new_cost = {} ...".format(step, maxsteps, T, cost, new_cost))          
        if acceptance_probability(cost, new_cost, T) > rn.random():
            state, cost = new_state, new_cost
            states.append(state)
            costs.append(cost)
    return state, cost_function(state, args[1]), states, costs

In [185]:
def get_random_vac(max_fly_person, max_fly_month):
    return np.random.randint(36, min(max_fly_person, max_fly_month))


def random_matrix(df, q_name):
    state = np.zeros((df.shape[0], 12), dtype=int)
    max_fly_by_month = get_max_fly_by_month()
    aval_hours_by_month = get_aval_hours_by_month(df)

    for month in range(12):
        i = 0
        while aval_hours_by_month.loc[q_name, month] > 0:
            i += 1
            if state.shape[0] - i < 0:
                break
            rand_i = np.random.randint(0, state.shape[0])

            _vac = get_random_vac(
                max_fly_person=df['Max Fly'].iloc[rand_i],
                max_fly_month=max_fly_by_month[month]
            )

            if state[rand_i][month] > 0:
                continue

            # Если уже использовали больше чем нужно отпуск
            if state[rand_i].sum() + _vac > max(df['Max Fly'].iloc[rand_i] * 2, 184):
                continue

            # Если у нас на расстоянии 2 уже есть отпуск
            if month < 11:
                if state[rand_i][month + 1] > 0 or state[rand_i][month - 1] > 0:
                    continue
            else:
                if state[rand_i][0] > 0 or state[rand_i][10] > 0:
                    continue

            # Если число доступных часов больше
            if aval_hours_by_month.loc[q_name, month] >= _vac:
                aval_hours_by_month.loc[q_name, month] -= _vac
                state[rand_i, month] = _vac

            # Если число доступных часов меньше, то переносим отпуск на след месяц
            else:
                delta = _vac - aval_hours_by_month.loc[q_name, month]
                state[rand_i, month] = aval_hours_by_month.loc[q_name, month]
                aval_hours_by_month.loc[q_name, month] = 0

                if month < 11:
                    state[rand_i, month + 1] += delta
                    aval_hours_by_month.loc[q_name, month + 1] -= delta
                else:
                    state[rand_i, 0] += delta
                    aval_hours_by_month.loc[q_name, 0] -= delta
                break
    return state

In [186]:
possible_vacation

,0,1,2,3,4,5,6,7,8,9,10,11
Q1,8744.0,11250.0,6669.0,6941.0,11465.0,3163.0,3643.0,3940.0,4790.0,6266.0,9006.0,5103.0
Q2,6221.0,7151.0,6040.0,6178.0,6205.0,7021.0,6223.0,6253.0,6654.0,6519.0,7681.0,7196.0
Q3,2591.0,3521.0,2410.0,2548.0,2575.0,3391.0,2593.0,2623.0,3024.0,2889.0,4051.0,3566.0
Q4,767.0,3526.0,4067.0,3194.0,3361.0,1275.0,1813.0,1351.0,845.0,5295.0,2609.0,1897.0
Q5,873.0,3053.0,3386.0,3261.0,2637.0,1221.0,1742.0,1273.0,938.0,3288.0,2808.0,1980.0
Q6,9961.0,8308.0,9699.0,9504.0,11801.0,3802.0,5262.0,4606.0,4715.0,10796.0,6201.0,4953.0
Q7,1846.0,1686.0,1564.0,965.0,1323.0,840.0,777.0,1152.0,1309.0,694.0,1047.0,953.0
Q8,1036.0,1431.0,1331.0,998.0,1195.0,794.0,951.0,846.0,1000.0,1150.0,978.0,916.0
Q9,751.0,2913.0,1270.0,1768.0,2009.0,852.0,722.0,719.0,831.0,1766.0,1108.0,1114.0
Q10,4098.0,4753.0,4205.0,4702.0,3872.0,3601.0,3317.0,3317.0,3592.0,3361.0,3719.0,3446.0

In [187]:
def get_max_fly_by_month():
    return excel_dict['months'][2].values

def get_aval_hours_by_month(df):
    res = possible_vacation.copy()
    res.columns = range(12)
    return res

In [188]:
def get_D_d(vacs):
    """ Сколько часов удовлетворили """
    return vacs.sum(axis=0).sum()

def get_D(df, q_name):
    """ Запрос на часы отпуска """
    return possible_vacation.loc[q_name, :].sum()
    
def get_S(df):
    """ Суммарный рейтинг """
    return df[[f'RP{i}_score' for i in range(1, 13)]].values.sum().sum()
    
def get_S_d(vacs, df):
    """ Суммарный рейтинг выполненных заявок """
    a = df[[f'RP{i}_score' for i in range(1, 13)]].values
    b = vacs.astype(bool).astype(int)
    return np.multiply(a, b).sum().sum()

def get_N(df):
    """ Сколько заявок по отпуску всего"""
    return df[[f'RP{i}_score'  for i in range(1, 13)]].values.astype(bool).astype(int).sum().sum()

def get_N_d(vacs, df):
    """ Сколько заявок удовлетворили """
    req = df[[f'RP{i}_score'  for i in range(1, 13)]].values
    pos = vacs.astype(bool).astype(int)
    return np.multiply(req, pos).astype(bool).astype(int).sum().sum()

In [189]:
def cost_function(vacs, q_name):
    cost = []
    cost += [1 - get_S_d(vacs, df) / get_S(df)]
    cost += [1 - get_D_d(vacs) / get_D(df, q_name)]
    cost += [1 - get_N_d(vacs, df) / get_N(df)]
    return sum(cost) / len(cost)

In [190]:
def acceptance_probability(cost, new_cost, temperature):
    if new_cost < cost:
        return 1
    else:
        p = np.exp(- (new_cost - cost) / temperature)
        return p

In [191]:
def temperature(fraction):
    return max(0.01, min(1, 1 - fraction))

In [192]:
def create_output(q_name, state, df):

    l = []

    for vac, person, person_score in zip(state, df['Num'].values, df[[f'RP{i}_score' for i in range(1, 13)]].values):
        for i, (vac_size, score) in enumerate(zip(vac, person_score), 1):
            if vac_size != 0:
                l.append([person, i, vac_size, 1 if score else 0])
    
    _df = pd.DataFrame(data=l, columns=['id', 'month', 'rest_size', 'application'])
    _df.to_csv(f'../data/res_v.0.03_{q_name}.csv')

In [ ]:
df_costs = pd.DataFrame(data = [0] * possible_vacation.shape[0], index=possible_vacation.index)

for q_name, df in qs.items():
    state, c, states, costs = annealing(
        random_matrix,
        cost_function,
        random_matrix,
        acceptance_probability,
        temperature,
        args=[df, q_name],
        maxsteps=100,
        debug=True
    )
    df_costs.loc[q_name, 0] = c
    create_output(q_name, state, df)

Step # 0/100 : T =    1 cost = 0.4945149222945906 new_cost = 0.5044795560478817 ...
Step # 1/100 : T = 0.99 cost = 0.5044795560478817 new_cost = 0.4972005402532343 ...
Step # 2/100 : T = 0.98 cost = 0.4972005402532343 new_cost = 0.49616764854845163 ...
Step # 3/100 : T = 0.97 cost = 0.49616764854845163 new_cost = 0.48718289921278135 ...
Step # 4/100 : T = 0.96 cost = 0.48718289921278135 new_cost = 0.48178229615419355 ...
Step # 5/100 : T = 0.95 cost = 0.48178229615419355 new_cost = 0.5043920278095819 ...
Step # 6/100 : T = 0.94 cost = 0.5043920278095819 new_cost = 0.5049734793663349 ...
Step # 7/100 : T = 0.93 cost = 0.5049734793663349 new_cost = 0.5175604574520901 ...
Step # 8/100 : T = 0.92 cost = 0.5175604574520901 new_cost = 0.47441895000032686 ...
Step # 9/100 : T = 0.91 cost = 0.47441895000032686 new_cost = 0.49992101878790907 ...
Step #10/100 : T =  0.9 cost = 0.49992101878790907 new_cost = 0.5020920488631178 ...
Step #11/100 : T = 0.89 cost = 0.5020920488631178 new_cost = 0.5007363867899443 ...
Step #12/100 : T = 0.88 cost = 0.5007363867899443 new_cost = 0.4934467328431746 ...
Step #13/100 : T = 0.87 cost = 0.4934467328431746 new_cost = 0.4983495431596486 ...
Step #14/100 : T = 0.86 cost = 0.4983495431596486 new_cost = 0.5076890829591826 ...
Step #15/100 : T = 0.85 cost = 0.5076890829591826 new_cost = 0.5002891863342314 ...
Step #16/100 : T = 0.84 cost = 0.5002891863342314 new_cost = 0.50179416949464 ...
Step #17/100 : T = 0.83 cost = 0.50179416949464 new_cost = 0.4884046623171023 ...
Step #18/100 : T = 0.82 cost = 0.4884046623171023 new_cost = 0.5062906236506808 ...
Step #19/100 : T = 0.81 cost = 0.5062906236506808 new_cost = 0.4986600336313245 ...
Step #20/100 : T =  0.8 cost = 0.4986600336313245 new_cost = 0.4888407469637898 ...
Step #21/100 : T = 0.79 cost = 0.4888407469637898 new_cost = 0.504446294226752 ...
Step #22/100 : T = 0.78 cost = 0.504446294226752 new_cost = 0.5042170804491762 ...
Step #23/100 : T = 0.77 cost = 0.5042170804491762 new_cost = 0.5166878472473129 ...
Step #24/100 : T = 0.76 cost = 0.5166878472473129 new_cost = 0.5113312412392813 ...
Step #25/100 : T = 0.75 cost = 0.5113312412392813 new_cost = 0.4834847256717372 ...
Step #26/100 : T = 0.74 cost = 0.4834847256717372 new_cost = 0.49208426358700486 ...
Step #27/100 : T = 0.73 cost = 0.49208426358700486 new_cost = 0.4821627507750117 ...
Step #28/100 : T = 0.72 cost = 0.4821627507750117 new_cost = 0.5063171120436065 ...
Step #29/100 : T = 0.71 cost = 0.5063171120436065 new_cost = 0.4935081916383101 ...
Step #30/100 : T =  0.7 cost = 0.4935081916383101 new_cost = 0.4952313732193148 ...
Step #31/100 : T = 0.69 cost = 0.4952313732193148 new_cost = 0.49995842322405143 ...
Step #32/100 : T = 0.68 cost = 0.49995842322405143 new_cost = 0.4846158533926648 ...
Step #33/100 : T = 0.67 cost = 0.4846158533926648 new_cost = 0.5018207082565111 ...
Step #34/100 : T = 0.66 cost = 0.5018207082565111 new_cost = 0.5095587863251758 ...
Step #35/100 : T = 0.65 cost = 0.5095587863251758 new_cost = 0.5181601680274106 ...
Step #36/100 : T = 0.64 cost = 0.5181601680274106 new_cost = 0.49147638388891607 ...
Step #37/100 : T = 0.63 cost = 0.49147638388891607 new_cost = 0.4968132361950653 ...
Step #38/100 : T = 0.62 cost = 0.4968132361950653 new_cost = 0.5099603854444447 ...
Step #39/100 : T = 0.61 cost = 0.5099603854444447 new_cost = 0.49881999553543843 ...
Step #40/100 : T =  0.6 cost = 0.49881999553543843 new_cost = 0.5162188675742836 ...
Step #41/100 : T = 0.59 cost = 0.5162188675742836 new_cost = 0.5084455614649221 ...
Step #42/100 : T = 0.58 cost = 0.5084455614649221 new_cost = 0.49779382989859694 ...
Step #43/100 : T = 0.57 cost = 0.49779382989859694 new_cost = 0.5068218086988755 ...
Step #44/100 : T = 0.56 cost = 0.5068218086988755 new_cost = 0.5002895166472309 ...
Step #45/100 : T = 0.55 cost = 0.5002895166472309 new_cost = 0.5007066889695857 ...
Step #46/100 : T = 0.54 cost = 0.5007066889695857 new_cost = 0.49934488377639585 ...
Step #47/100 : T = 0.53 cost = 0.49934488377639585 new_cost = 0.5018029062139417 ...